.background{
	background-image: url(..//images/mountain2.jpg);
	background-attachment: fixed;
	width: 100%;
	height: 1300px;
}
h1, h2, h3, h5, h6 {
	font-family: 'PT Serif', serif;
	text-align: center;
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
	color: white;
}
h1 {
	font-size: 68px;
	margin-top: 3%;
}
h5 {
	font-size: 58px;
	margin-bottom: 7%;
}
h2 {
	font-size: 25px;
	margin-bottom: 1%;
}
h3 {
	font-size: 20px;
	margin-bottom: 7%;
}
h4 {
	font-family: 'PT Serif', serif;
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
	color: white;
	font-size: 17px;
	margin-top: 2px;
	margin-bottom: 2px;
}
h6 {
	font-size: 20px;
	margin-top: 3%;
}
nav {
	text-align: center;
	margin-bottom: 5%;
}
nav li {
	display: inline;
	border: 0.1px;
	border-color: white;
	border-style: solid;
}
img {
	margin-left: 34.2%;
}